.leftNav{
  position: fixed;
  top:0;
  left:0;
  z-index: 200;
  width: 160px;
  height: 100%;
  background-color: rgb(43, 51, 61);
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 20px;
  .nav-title{
    span{
      padding: 10px;
      font-size: larger;
    }
  }
}

.nav-sidebar{
  .header{
    padding-top:25px;
  }
  &>li{
    list-style: none;
    height: 30px;
    line-height: 30px;
  }
  a{
    padding-left: 20px;
    text-decoration: none;
    color: #a2abbd;
  }
}
