.leftNav{
  position: fixed;
  top:0;
  left:0;
  width: 200px;
  border-right: 1px solid #3b4253;
  height: 100%;
  z-index: 200;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(59, 66, 83);
  color: #fff;
  .active{
    color: #fff;
    background-color: #353c4a;
    border-left: 5px solid #5ea3f8;
    a{
      color: #fff;
    }
  }
  .nav-title{
    color: #FFFFFF;
    padding: 15px 20px 10px 20px;
    /*
    background-color: #333c47;
    */
    img{
      width: 30px;
      height: 30px;
      margin-top: -5px;
    }
    span{
      margin-top: 2px;
      color: #FFFFFF;
      vertical-align: top;
      font-size: 18px;
    }
  }
}
.nav-sidebar{
  .nav-li-title{
    color: #fff;
    padding-top: 10px;
    padding-left:15px;
    font-size: 14px;
    font-weight: 200;
  }
  .nav-svg{
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 15px 0 15px;
  }
  .nav-header{
    padding:5px 0 5px 15px;
    font-size: 14px;
    vertical-align: top;
    color: #FFFFFF;
  }
  &>li{
    list-style: none;
    height: 30px;
    line-height: 30px;
  }
  a{
    vertical-align: top;
    text-decoration: none;
    color: #a2abbd;
  }
}
